---
---


<div class="min-h-screen flex justify-center items-center">
    <div class="flex justify-center gap-10">
        <!-- Card 1 -->
        <div class="w-56 lg:w-max bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="rounded-t-lg h-80 mx-auto" src="/voron.jpg" alt="Imagen Proyecto 1" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Voron 2.4 Siboor</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Impresora Core XYZ de los compañeros VORON construida desde cero.</p>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="w-56 lg:w-max bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="rounded-t-lg h-80 mx-auto" src="/RATRIG.jpg" alt="Imagen Proyecto 2" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">RATRIG VCORE 3.1</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Impresora Core XY de los compañeros RATRIG construida desde cero.</p>
            </div>
        </div>
    </div>
</div>

   <!--  <div class=" w-40 lg:w-64 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg" src="/FotoProj1.jpg" alt="Imagen Proyecto 1" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Portfolio</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Portfolio creado con el framework de Astro con Tailwind.</p>
        </div>
    </div> -->
