---
---

<div id="First-Page" class="snap-center">
    <div class="h-screen bg-gradient-to-b from-slate-700 via-slate-700 to-neutral-900 flex flex-col lg:flex-row lg:justify-start justify-center items-center text-left">
        
        <div class="lg:flex-1 lg:ml-32 lg:mt-24 mt-10 ml-6 md:ml-2 text-white order-2 lg:order-1">
            <h1 class="text-4xl font-Inter font-bold md:text-6xl">Diego Hijano Valero</h1>
            <h2 class="text-xl mt-6 font-Inter font-bold">Técnico de mantenimiento electromecánico</h2>
            <h2 class="text-xl font-Inter opacity-70 font-bold">Actualmente estudiando Automatización y robótica industrial en SEAT</h2>
            <p class="lg:w-96 w-80 mt-2 opacity-90 font-light text-xl">Entusiasta de la tecnología y de aprender cosas nuevas cada día para estar por delante, destacar en mi trabajo y en mis proyectos personales.</p>
            <a href="/CV.pdf" download="Curriculum Diego Hijano" class="flex items-center mt-5 space-x-2">
                <i class="fa-sharp fa-solid fa-file-pdf text-3xl opacity-90" style="color: #fafafa;"></i>
                <span class="text-white font-bold text-xl">Currículum</span>
            </a>            
        </div>
        <div class="lg:right-0 lg:mr-60 order-1 lg:order-2">
            <img src="FotoPerf.jpg" alt="FotoPers" class="lg:w-[450px] w-64 md:w-96 rounded-full mx-auto">
        </div>
    </div>
</div>
