---
---

<div id="First-Page" class="snap-center">
    <div class="h-screen bg-gradient-to-r from-slate-900 to-slate-700 flex" >
    
        <div class="flex-1 pl-20 lg:pt-64 pt-24 text-white">
            <h1 class="text-4xl font-Inter font-bold lg:text-6xl">Diego Hijano Valero</h1>
            <h2 class="text-xl mt-6 font-Inter font-bold">Técnico de mantenimiento electromecánico</h2>
            <p class="w-96 mt-2 opacity-90 font-light text-xl">Entusiasta de la tecnología y de aprender cosas nuevas cada día para estar por delante, destacar en mi trabajo y en mis proyectos personales.</p>
            <a href="/public/CV.pdf" download="Curriculum Diego Hijano" class="flex items-center mt-5 space-x-2">
                <i class="fa-sharp fa-solid fa-file-pdf text-3xl opacity-90" style="color: #fafafa;"></i>
                <span class="text-white font-bold text-xl">Currículum</span>
            </a>            
        </div>
        <div class="lg:top-0 lg:right-0 lg:mt-44 lg:mr-52">
            <img src="FotoPerf.jpg" alt="FotoPers" class="lg:w-96 rounded-full ">
        </div>
    </div>
</div>
