---
---

<header class="fixed w-full ">
    <nav class="flex lg:pl-20 lg:pt-8 pt-2 justify-center lg:justify-start">
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class=" hover:text-black hover:bg-gray-500 font-medium rounded-lg text-sm focus:ring-0 focus:outline-none text-center inline-flex items-center pr-2.5 py-2" type="button">
            <svg class="w-8 h-8 ml-2.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>        
            </button>
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow lg:w-44 w-64 md:w-96  text-center lg:text-left :lg:ml-4 dark:bg-gray-700">
            <ul class="py-2 text-xl md:text-2xl lg:text-xl text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
              <li>
                <a href="#First-Page" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Inicio</a>
              </li>
              <li>
                <a href="#second-page" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sobre mí</a>
              </li>
              <li>
                <a href="#Skills" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mis habilidades</a>
              </li>
              <li>
                <a href="#Third-Page" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Proyectos</a>
              </li>
              <li>
                <a href="#Contact-page" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Contáctame</a>
              </li>
              <li>
                <a href="/CV.pdf" download="Curriculum Diego Hijano" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">CV</a>
              </li>
            </ul>
        </div>
    </nav>
</header>





