---
---
<div id="second-page" class="snap-center h-screen bg-neutral-900 text-white flex flex-col justify-center items-center">
    <h1 class=" font-bold lg:text-5xl text-4xl md:text-6xl font-Inter">Sobre mí</h1>
    <div class="lg:flex lg:justify-center lg:gap-60 lg:mt-9 mt-6">
        <div class="lg:w-96 text-center">
            <p class="bg-opacity-90 font-light lg:text-xl md:text-3xl text-xl w-96 md:w-[600px] lg:w-auto  ">¡Hola! Soy un joven amante de la tecnología y la innovación con un profundo interés en la industria aeroespacial, la robótica y la fabricación aditiva. Me encanta explorar nuevas oportunidades y aprender cada día.  </p>
            <img src="/voron.jpg" alt="voron" class="mx-auto rounded-md lg:w-80 w-48 md:w-96 lg:mt-5 mt-6 mb-6  ">
        </div>
        <div class="lg:w-96 text-center mt-2">
            <img src="/Img1.png" alt="Robot" class="hidden lg:inline mx-auto lg:w-80 lg:h-72 rounded-md">
            <p class="bg-opacity-90 font-light lg:text-xl md:text-3xl lg:mt-5 w-96 text-xl md:w-[600px] lg:w-auto">La combinación de la ingeniería robótica industrial y la fabricación aditiva me cautiva por completo. Mi objetivo es explorar y fusionar estas dos fascinantes áreas para dar vida a innovadoras soluciones tecnológicas.</p>
        </div>
    </div>
</div>

