---
---
<div id="second-page" class="snap-center h-screen bg-gradient-to-r from-slate-900 to-slate-700 text-white">
    <div class="flex justify-center align-middle">
        <h1 class="mt-14 font-bold text-5xl font-Inter">Sobre mí</h1>
    </div>
    <div class="flex justify-center gap-60 mt-9">
        <div class="w-96 text-lg text-center">
            <p class="bg-opacity-90 font-light text-xl">¡Hola! Soy un joven amante de la tecnología y la innovación con un profundo interés en la industria aeroespacial, la robótica y la creación de páginas web. Me encanta explorar nuevas oportunidades y a aprender cada día.  </p>
            <img src="/Starship.jpg" alt="Starship" class="rounded-md w-80 mt-5 ml-7">
        </div>
        <div class="w-96 text-lg text-center mt-2">
            <img src="/Img1.png" alt="Robot" class="w-80 h-72 mb-5 ml-7 rounded-md">
            <p class="bg-opacity-90 font-light text-xl"> La combinación única de la ingeniería robótica industrial y el diseño web me cautiva por completo. Mi objetivo es explorar y fusionar estas dos fascinantes áreas para dar vida a innovadoras soluciones tecnológicas.</p>
        </div>
    </div>
</div>
