---
---
<div id="Skills" class="snap-center h-screen bg-gradient-to-r from-slate-900 to-slate-700 text-white">
    <div class="flex justify-center align-middle">
        <h1 class="mt-14 font-bold lg:text-5xl text-4xl font-Inter">Mis habilidades</h1>
    </div>
    <div class=" text-white flex gap-5 justify-center align-middle mt-10 text-bold font-Inter text-md ">
        <div class="text-center">
            <img src="/HTML5.png" alt="Html5" class="lg:w-32 p-4">
            <h2 >HTML5</h2>
        </div>
        <div class="text-center">
            <img src="CSS.png" alt="CSS" class="lg:w-32 p-4 ">
            <h2>CSS</h2>
        </div> 
        <div class="text-center">
            <img src="Tailwind.png" alt="Tailwind" class="lg:w-32 lg:h-32  p-4">
            <h2>Taiwlind CSS</h2>
        </div>
        <div class="text-center">
            <img src="Kotlin.png" alt="Tailwind" class="lg:w-32 h-32  p-4">
            <h2>Kotlin</h2>
        </div>
        <div class="text-center">
            <img src="C.png" alt="C" class="lg:w-40 mt-2">
            <h2>C</h2>
        </div>
        <div class="text-center">
            <img src="Inventor.png" alt="Inventor" class="lg:w-32 p-4">
            <h2>Inventor</h2>
        </div>
        <div class="text-center">
            <img src="ABB.png" alt="rapid" class="lg:w-52 lg:h-32 p-4">
            <h2>Rapid</h2>
        </div>
    </div>
    <div class="flex justify-center align-middle">
        <h1 class="mt-16 font-bold lg:text-5xl text-4xl font-Inter">Idiomas</h1>
    </div>
    <div class=" text-white flex justify-center gap-10 align-middle mt-10 text-bold font-Inter text-md ">
        <div class="text-center">
            <img src="Catalan.png" alt="Catalan" class="lg:w-32 lg:h-20 w-40 h-20 flex align-middle">
            <h2 class="pt-2" >Catalán Nativo</h2>
        </div>
        <div class="text-center">
            <img src="Ingles.jpg" alt="Catalan" class="lg:w-32 lg:h-20 w-40 h-20 flex align-middle">
            <h2 class="pt-2" >Inglés A2</h2>
        </div>
        <div class="text-center px-2">
            <img src="Español.png" alt="Castellano" class="lg:w-32 lg:h-20 w-40 h-20 flex align-middle">
            <h2 class="pt-2">Castellano Nativo</h2>
        </div> 
</div>
