---
---
<div id="Skills" class="snap-center h-screen bg-gradient-to-r from-slate-900 to-slate-700 text-white">
    <div class="flex justify-center items-center">
        <h1 class="mt-32 lg:mt-20 font-bold lg:text-5xl text-4xl font-Inter">Mis habilidades</h1>
    </div>
    <div class="text-white flex flex-wrap justify-center items-center mt-10 lg:mt-20 text-bold font-Inter text-md">
        <div class="">
            <img src="/HTML5.png" alt="HTML5" class="w-28 md:w-32 lg:w-32 p-4">
        </div>
        <div class="">
            <img src="/CSS.png" alt="CSS" class="w-28 md:w-32 lg:w-32 p-4">
    
        </div>
        <div class=" ">
            <img src="/Tailwind.png" alt="Tailwind" class="w-28 md:w-32 lg:w-32 p-4">
        </div>
        <div class="">
            <img src="/Kotlin.png" alt="Kotlin" class="w-28 md:w-32 lg:w-32 p-4">
        </div>
        <div class="">
            <img src="/C.png" alt="C" class="w-28 md:w-32 lg:w-40 mt-2">
        </div>
        <div class="">
            <img src="/Inventor.png" alt="Inventor" class="w-28 md:w-32 lg:w-32 p-4">
        </div>
    </div>
    <div class="flex justify-center items-center">
        <h1 class="mt-16 lg:mt-20 font-bold lg:text-5xl text-4xl font-Inter">Idiomas</h1>
    </div>
    <div class="text-white flex flex-wrap justify-center gap-10 items-center mt-10 lg:mt-10  font-Inter text-md">
        <div class="text-center">
            <img src="/Catalan.png" alt="Catalán" class="w-20 lg:w-32 h-10 lg:h-20  md:w-40 md:h-20">
            <h2 class="pt-2">Nativo</h2>
        </div>
        <div class="text-center ">
            <img src="/Ingles.jpg" alt="Inglés" class="w-20 lg:w-32 h-10 lg:h-20  md:w-40 md:h-20 ">
            <h2 class="pt-2">A2</h2>
        </div>
        <div class="text-center">
            <img src="/Español.png" alt="Castellano" class="w-20 h-10  lg:w-32 lg:h-20 md:w-40 md:h-20">
            <h2 class="pt-2">Nativo</h2>
        </div>
    </div>
</div>
