---
import CardsProj from "./Cards-Proj.astro";
---

<div id="Third-Page" class="snap-center h-screen bg-neutral-900  text-white">
    <div class=" flex justify-center align-middle">
          <h1 class="mt-20 font-bold lg:text-5xl md:text-6xl text-4xl font-Inter">Proyectos</h1>
    </div>
    <CardsProj />
</div>
