---
import CardsProj from "./Cards-Proj.astro";
---

<div id="Third-Page" class="snap-center h-screen bg-gradient-to-r from-slate-900 to-slate-700  text-white">
    <div class=" flex justify-center align-middle">
          <h1 class="mt-14 font-bold text-5xl font-Inter">Proyectos</h1>
    </div>
    <CardsProj />
</div>
